/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Poppins', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1;
  background-color: #263238;
  color: #fff;
  font-family: "Abril Fatface", cursive;
}

header h1 {
  padding-left: 200px;
  padding-top: 40px;
}

header nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

header #menu,
header nav #fechar {
  display: none;
}

header nav li {
  list-style: none;
}

header nav ul li {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 20px 50px;
}

header nav ul li a {
  color: #000;
  font-size: 10pt;
  text-decoration: none;
  text-transform: capitalize;
  transition: ease 0.5s;
}

header nav ul li:hover {
  background-color: rgb(24, 102, 133);
}

header nav ul li:hover > a {
  color: #fff;
}

main {
  flex: 1;
}

main #painel {
  height: 400px;
  background-image: url("../img/painel.jpg");
  background-size: 100%;
  background-position: 0px -450px;
}
footer {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #1d3e4e;
  font-family: "Cormorant Garamond", serif;
  font-size: 10pt;
  padding: 50px;
}

footer #redes,
footer #end {
  flex: 1;
  color: #fff;
}

footer #end {
  text-align: right;
  padding-right: 50px;
}

footer #redes ul {
  list-style: none;
}

footer #redes ul li {
  display: inline-block;
}

footer #redes ul li a {
  color: #fff;
  text-decoration: none;
}

footer #redes ul li a i {
  font-size: 20px;
  color: #fff;
  margin: 10px;
}

main #faixahome1 {
  padding: 50px 100px;
  background-color: rgb(190, 187, 187);
}

main #faixahome1 div {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 30px;
  text-align: justify;
}

main #faixahome1 h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

main #faixahome2 {
  margin: 20px;
  font-family: arial;
}

/* main #home div {
  font-family: arial;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 30px;
  text-align: justify;
} */

main #faixahome2 {
  background-color: #fff;
  padding: 10px;
  margin: 40px;
}

main #faixahome2 {
  text-align: center;
  font-size: 10pt;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

main #faixahome2 #clientes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main #faixahome2 #clientes div {
  margin: 10px;
  flex: 1;
  flex-wrap: wrap;
}
main #faixahome2 #clientes div img {
  width: 100%;
}

main #faixahome3 {
  background-color: #fff;
  padding-top: 100px;
}

main #faixahome3 h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30pt;
}

main #faixahome3 div iframe {
  width: 100%;
  height: 400px;
}

main #sala h3,
main #cozinha h3,
main #quarto h3,
main #banheiro h3,
main #jantar h3 {
  font-size: 40pt;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
  color: rgba(0, 0, 0, 80%);
}

main #sala h2,
main #cozinha h2,
main #quarto h2,
main #banheiro h2,
main #jantar h2 {
  font-size: 40pt;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 60px;
  color: rgba(0, 0, 0, 0.9);
}

main #sala div {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap; /*comando de quebra de linha */
}

main #sala div img {
  flex: 1;
  width: 30%;
  height: auto;
  opacity: 0.8;
  cursor: pointer; /* mouse no formato de mão */
  transition: ease 0.5s;
}

main #sala div img:hover {
  opacity: 1;
}

main #cozinha #conteudo {
  display: flex;
  flex-direction: row;
}

main #cozinha #destaque {
  flex: 1;
}

main #cozinha #destaque img {
  width: 100%;
  height: auto;
}

main #cozinha #miniatura {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main #cozinha #miniatura img {
  flex: 1;
  width: 32%;
  height: auto;
  margin: 2px;
}

main #quarto div {
  display: flex;
  background-color: silver;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

main #quarto div img {
  flex: 1;
  width: 48%;
  height: auto;
  /* realizar o efeito de inclinação na imagem */
  transform: skew(3deg);
  margin: 2px;
}
main #quarto div img:hover {
  transform: scale(1.2);
  transform: skewX(0deg);
  z-index: 1000;
}

main #banheiro #area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px dotted silver;
}

main #banheiro #area div {
  flex: 1;
  background-color: #fff;
  box-shadow: 5px 5px 10px #666;
  text-align: center;
  padding: 40px 0px 100px 0px;
  margin: 5px;
}

main #banheiro #area div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

main #jantar div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main #jantar div img {
  flex: 1;
  width: 20%;
}

main form {
  width: 40%;
  padding: 20px;
  margin: 30px auto;
}

main form input,
main form textarea {
  width: 90%;
  padding: 10px;
  display: auto;
  margin: 5px;
}

main form textarea {
  height: 200px;
}

main form input[type="submit"] {
  width: 15%;
  margin-right: auto;
  margin-left: auto;
}
/* -------------  Break points para o projeto --------------- */

/* para telas de Smartphones */

@media (min-width: 0px) and (max-width: 575.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 250px;
    background-position: 0 -70px;
  }

  header nav {
    background-color: #000;
    height: 100vh; /* V(view-port) H (height- altura) - 100% da altura da tela do dispositivo que abre */
    position: fixed;
    /*  Fazer a barra 'iniciar' no topo do navegador,
    e do lado de fora a esquerda do navegador   */
    top: 0;
    left: -250px;
    width: 200px;
    text-align: left;
    padding-top: 2px;
    transition: ease 0.5s;
    z-index: 10000;
  }

  header nav ul li {
    background-color: black;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }

  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }

  header #menu {
    position: fixed;
    top: 10px;
    left: 10px;
  }

  header nav #fechar {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* formatação para a pagina home */
  main #faixahome1 div {
    padding-left: 20px;
    padding-right: 20px;
  }

  main #faixahome1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  main {
    background-image: url("../img/painel.jpg") !important;
    background-size: 150% !important;
    background-position: center center;
  }

  /* formatação para a pasta projetos */

  main #sala,
  main #cozinha,
  main #quarto,
  main #banheiro,
  main #jantar {
    background-color: #fff;
  }

  main #sala div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main #sala div img {
    flex: 1;
    width: 60%;
    height: auto;
    opacity: 0.8;
    margin: 5px;
  }
}

/* para telas de tablets */
@media (min-width: 576px) and (max-width: 767.98px) {
  header h1 {
    padding: 0;
    text-align: center;
  }
  main #painel {
    height: 250px;
    background-position: 0 -70px;
  }
  header nav {
    background-color: #000;
    height: 100vh; /* V(view-port) H (height- altura) - 100% da altura da tela do dispositivo que abre */
    position: fixed;
    /*  Fazer a barra 'iniciar' no topo do navegador,
    e do lado de fora a esquerda do navegador   */
    top: 0;
    left: -250px;
    width: 200px;
    text-align: left;
    padding-top: 2px;
    transition: ease 0.5s;
  }

  header nav ul li {
    background-color: black;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
  }

  header nav ul li a {
    color: #fff;
  }
  header #menu,
  header nav #fechar {
    display: block;
  }

  header #menu {
    position: fixed;
    top: 10px;
    left: 10px;
  }

  header nav #fechar {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  main #faixahome1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }

  main form {
    width: 80%;
  }

  main form input[type="submit"] {
  }
}

/* para telas de desktop */

@media (min-width: 768px) and (max-width: 991.98px) {
  header nav {
    width: 100%;
  }

  main #faixahome1 div {
    padding-left: 10px;
    padding-right: 10px;
  }

  main #faixahome1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

main #faixahome2 #clientes div {
  width: 40%;
  text-align: center;
}

main #faixahome2 #clientes div img {
  width: 250px;
}

.ajustePhome {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

/* formatação da tela de projetos */
main #cozinha #destaque {
  flex: 1.5;
}
main form {
  width: 80%;
}
